<h1>Editing project</h1>
<i>Project lead can edit project</i>

<%= render "form", project: @project %>

<br>

<div>
  <%= button_to "Show project", @project, :method => "get" , class: 'btn btn-primary' %>

</div>
  